.tpl--container {
    position: relative;
    z-index: 1;
    padding: 0;
    background-color: #fff;
    /*  .tpl--content,
      .tpl--sidebar,*/
}
.tpl--container--inner {
    position: relative;
    width: 100%;
    max-width: 100%;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
}
.tpl--container .tpl--wrap--content {
    flex: 1;
}
.tpl--container .tpl--wrap--content {
    display: flex;
}

.tpl--header,
.tpl--content,
.tpl--sidebar,
.tpl--section,
.tpl--footer {
    position: relative;
}

.tpl--header {
    z-index: 4;
}
.tpl--header .tpl--header--inner {
    max-width: 1200px;
    margin: 0 auto;
}
.tpl--header.is-fixed {
    position: fixed;
    top: 0;
    right: 0;
    bottom: auto;
    left: 0;
}
.tpl--header.is-absolute {
    position: absolute;
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    bottom: auto;
    left: 0;
}

.tpl--content {
    z-index: 4;
}
.tpl--content--inner {
    max-width: 100%;
    margin: 0 auto;
}

.tpl--sidebar {
    z-index: 2;
    width: 15%;
    border-right: 1px solid rgba(0,0,0,0.15);
    margin-right: 25px;
}

.tpl--section--inner {
    z-index: 5;
}

.tpl--footer {
    z-index: 3;
}
.tpl--footer.is-fixed {
    position: fixed;
    top: auto;
    right: 0;
    bottom: 0;
    left: 0;
}
.tpl--footer--inner {
    max-width: 100%;
    margin: 0 auto;
}
.tpl--footer .footer-additional .tpl--footer--inner {
    position: relative;
    overflow: hidden;
}
.tpl--footer .footer-main .tpl--footer--inner {
    position: relative;
    overflow: hidden;
}

.tpl--container--inner,
.tpl--header--inner,
.tpl--content--inner,
.tpl--sidebar--inner,
.tpl--footer--inner {
    position: relative;
}
